/* main.css */


/* -------START-------- */


img {
	margin-top: -10px;
	margin-left: -10px;
}

h1 {
	margin-left: 10%;
	margin-top: 25%;
	position: absolute;
	font-family:absolute;
	font-style: italic;
	z-index: 0;
	color: pink;
}
