.HEADER {
	margin-top: 10%;
	margin-left: 30%;

}

.BEGIN {
	margin-top: 3%;
	margin-left: 30%;
	margin-right: 30%;
	font-size: 12px;
}

.SIGNUP_TOP {
	margin-top: 3%;
	margin-left: 30%;
}

.ICON1 {
	margin-top: 3%;
	margin-left: 30%;
}

.ICON2 {
	margin-left: 30%;
	margin-top: 5%;
}

.ICON3 {
	margin-left: 30%;
	margin-top: 5%;
}

.ICON4 {
	margin-left: 3%;
	margin-top: 30%;
}

.para1 {
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 50%;
	font-size: 12px;
}

.PARA2 {
	margin-left: 55%;
	margin-top: -15.7%;
	margin-right: 25%;
	font-size: 12px;
}

.PARA3 {
	margin-top: 0%;
	margin-left: 30%;
	margin-right: 50%;
	font-size: 12px;
}

.PARA4 {
	margin-left: 55%;
	margin-top: -40.7%;
	margin-right: 25%;
	font-size: 12px;
}

.HDFC_GIF {
	margin-top: 10%;
	margin-left: 10%;
}

.SIGNUP_BOTTOM {
	margin-top: -3%;
	margin-left: 44%;
}

.END_PARA {
	margin-left: 30%;
	margin-top: 4%;
	font-size: 12px;
}

.button1 {
    background-color: light gainsboro;
    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1px 405px;
    cursor: pointer;
    border-radius: 4px;
}



