
@import url('https://fonts.googleapis.com/css?family=Dosis');

.Hero_image {
	position: absolute;
	top: 0px;
	left: 0px;
}

.Hero_text {
	position: absolute;
	top: 550px;
	left: 454px;
	text-align: center;
	color: #50E3C2;
	letter-spacing: 2px;
	font-size: 16px;
}

.Hero_support_text {
	position: absolute;
	top: 640px;
	left: 370px;
	text-align: center;
	color: #829496;
	letter-spacing: 2px;
	font-size: 21px;
}




.Section_1 {
	position: absolute;
	top: 1000px;
	left: 380px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 21px;
	font-weight: bolder;
	color: white;
}

.Section_1_support_text {
	position: absolute;
	top: 1100px;
	left: 480px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 21px;
	font-weight: bolder;
	color: #02202a;
}

.image_section_1 {
	position: absolute;
	top: 900px;
	left: 0px;
}




.Section_2 {
	position: absolute;
	top: 1500px;
	left: 540px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 21px;
	font-weight: bolder;
	color: #02202a;
}

.Section_2_support_text {
	position: absolute;
	top: 1540px;
	left: 430px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 21px;
	font-weight: bolder;
	color: #02202a;
}

.image_section_2 {
	position: absolute;
	top: 1415px;
	left: 0px;
	z-index: -1;
}

.Section_3 {
	position: absolute;
	top: 2050px;
	left: 440px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 21px;
	font-weight: bolder;
	color: #02202a;
}

.image_section_3 {
	position: absolute;
	top: 2070px;
	left: 20px;
	z-index: -1;
}